/* .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.left-section {
    flex: 1;
    animation: zoomInOut 4s;
    margin-top: 65px;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.right-section {
    flex: 0.6;
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 50px;
    font-family: "Raleway", sans-serif;
    line-height: 35px;
    font-size: 25px;
    color: #354e41;
    margin-top: 250px;
    margin-right: 160px;
}

.bottom-buttons {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.bottom-buttons button {
    padding: 20px 38px;
    margin: 0 10px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    background-color: #d1e48f;
    color: #354e41;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.btn-3 {
    padding: 25px 30px;
    background-color: #7b9c2a;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.4s, background-color 0.4s;
    border-radius: 18px;
    color: #fff;
}

.btn-3:hover {
    background-color: #7b9c2a;
}

.btn-3 span {
    position: relative;
    z-index: 1;
}

.btn-3::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 300%;
    height: 300%;
    background: #7b9c2a;
    transition: width 0.4s ease-out, height 0.4s ease-out, left 0.4s ease-out;
    z-index: 0;
}

.btn-3:hover::before {
    left: 0;
    width: 100%;
    height: 100%;
}

.h1-line-height {
    line-height: 50px;
}

/* Add this media query to handle smaller screens */
/* @media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .right-section {
        margin-top: 20px; /* Adjust as needed */
    /* } */ 
