.navbar {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.navbar img {
    max-width: 380px;
    height: auto;
    margin: 0 auto; /* Center the image */
}
.divider {
    width: 90%;
    margin: 20px auto;
    border: none;
    border-top: 1px solid #ccc;
}
